# This file contains presets for the odoo-venv command.
#
# Available options:
#
# install_odoo (boolean):
#   Install Odoo in editable mode.
#   Default: true
#
# install_odoo_requirements (boolean):
#   Install packages from Odoo's requirement.txt.
#   Default: true
#
# ignore_from_odoo_requirements (string):
#   Comma-separated list of packages to ignore from Odoo's requirement.txt.
#
# install_addons_dirs_requirements (boolean):
#   Install requirements.txt found in addons paths.
#   Default: false
#
# ignore_from_addons_dirs_requirements (string):
#   Comma-separated list of packages to ignore from addons paths' requirement.txt.
#
# install_addons_manifests_requirements (boolean):
#   Install requirements from addons' manifests.
#   Default: false
#
# ignore_from_addons_manifests_requirements (string):
#   Comma-separated list of packages to ignore from addons' manifests.
#
# extra_requirements_file (string):
#   Path to an extra requirements file.
#
# extra_requirement (string):
#   Comma-separated list of extra packages to install.
#

[common]

description = """
common configuration to all presets
"""

# on ubuntu 22.04/24.04, gevent fails to install with python 3.10
# that we use for odoo 16.0, 17.0, 18.0, 19.0
# see https://github.com/odoo/odoo/issues/187021

ignore_from_odoo_requirements = """
gevent==21.8.0; sys_platform != 'win32' and python_version == '3.10',
greenlet==1.1.2; sys_platform != 'win32' and python_version == '3.10'
"""
extra_requirement = """
gevent==22.10.2; sys_platform != 'win32' and python_version == '3.10',
greenlet==2.0.2; sys_platform != 'win32' and python_version == '3.10'
"""

# always ignore those exotic requirements unless explicitely added
ignore_from_addons_dirs_requirements = "azure-identity,mysql,mysqlclient,pymssql,cn2an"

[local]

description = """
\n- for generic venv-odooXX local venvs that we use to work on OCA modules
\n- adding some packages for dev-only purposes
"""

install_addons_dirs_requirements = true
install_addons_manifests_requirements = true
extra_requirement = "debugpy,ipython,setproctitle,watchdog,jingtrang,websocket-client,coverage,pylint-odoo,astroid,pdfminer.six,fonttools"

[demo]

description = """
- for odoo demo instances
- we install all modules requirements in advance: we don't want a user to be blocked from installing an odoo module because of a missing dep
"""

install_addons_dirs_requirements = true
install_addons_manifests_requirements = true
extra_requirement = "pdfminer.six,fonttools"

[project]

description = """
\n- for projects (any stage: dev/integration/staging/production)
\n- we want only the dependencies needed for the project to be installed, not more
"""

install_addons_dirs_requirements = false
install_addons_manifests_requirements = false
extra_requirements_file = "./requirements.txt"
extra_requirement = "pdfminer.six,fonttools"

[ci]

description = """
\n- for running tests
"""

install_addons_dirs_requirements = true
install_addons_manifests_requirements = true
extra_requirements_file = "./requirements.txt"
extra_requirement = "websocket-client,coverage,pylint,astroid,pdfminer.six,fonttools"
